//.columns {
    .half, .third, .fourth {
        display:inline-block;
        vertical-align:top;

        &:last-child {
            margin-right:0;
        }        
        img { 
            width:100%; 
            margin:0;
            &.img {
                width:auto;
            }
        }
    }
    .half {
        @include breakpoint(sm){
            width:43%;
            margin-right:3%;
            &:nth-of-type(2n){
                margin-right:0;
            }
        }        
    }
    .third {
        @include breakpoint(sm){
            $width:(100%/3);
            font-size:0.9em;
            line-height:1.35em;
            width:$width - 6%;
            margin-right: 1%;
        
            p { padding:0 0.7em;}
            
            &:nth-of-type(3n){
                margin-right:0;
            }
            &.wider {
                width:$width - 2%;
            }
        }
    }
    .fourth {
        @include breakpoint(sm){
            width:20%;
            margin-right:3%;
            &:nth-of-type(4n){
                margin-right:0;
            }
        }
    }
    
    .exact {
        .half, .third, .fourth {
            text-align:center;
            vertical-align: middle;
            a{ }
            img { width: auto;}
            h4 { }
        }
    }
//}

// -------------------- About page pictures & Tools/Sectors grids

//.gallery { margin-top:2em; }  

.gallery-item {
    $hXw:200px;
    @include border-radius(6%);
    background:$white;
    display:table-cell;
    height:$hXw;
    width:$hXw;
    padding:1.2em;
    overflow:hidden;
    text-align:center;
    vertical-align:middle;
    
    img {
        width:100%;
        max-width:200px;
        max-height:200px;
        margin:auto;
        vertical-align:middle;
    }
    
    #tools & {
        img { @include filter(grayscale(100%) sepia(10%)); }
        &:hover img{ @include filter(grayscale(0%) sepia(0%)); }
    }
}       

.team {
    $hXw:170px;
    @include breakpoint(md-below) {
        height:$hXw;
        width:$hXw;        
    }
    @extend .gallery-item;
    @include border-radius(100%);
    background:transparent;
    border: 4px solid #e5decf;
    box-shadow: 0 2px 7px 2px rgba(55,38,6,.4);
    display:inline-block;
    margin:0 0.5em;
    padding:0;
    
    &:first-of-type, &:last-of-type {
        height:$hXw - 20px;
        width:$hXw - 20px;
    }
}

.nostyle {
    border:0;
    box-shadow: none;
}