html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; 
  font: { 
      size:62.5%;
  }
  line-height:1.4rem;
}

body {
    background:$tan2 url('../img/philly-map.jpg') repeat 40% 25%;
    font: {
        family:$base-font;
        size:1.6rem;
        weight:400;
    }
    color:$brown;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: $header-font;
font-weight: 500;
line-height: 1.5em;
margin:0.25em 0 0.75em 0;
text-shadow: -2px 3px 1px rgba(202, 192, 164, 0.75);
}

h1, .h1 { font-size:4.2rem; font-style:italic;}
h2, .h2 { font-size:3.2rem; }
h3, .h3 { margin:0.25em 0; }
h4, .h4 { }
h5, .h5 { }
h6, .h6 { }

.main {
    &.container{
        img {
            max-width:100%;
        }
    }
}

ul {
    font-size:1.5rem;
    padding:0 1.25em;
    list-style-position:inside;
    list-style:none;
    
    li { 
        margin:1em 0;
    }
}

p { 
    padding-bottom:1em;
    @include breakpoint(sm){
        padding-left:3.5em;
        padding-right:3.5em;
    }
}

hr {
    border:0;
    background:transparent url('../img/hr-hand.png') no-repeat center center;
    height:2.8rem;
    padding:3rem 0 2rem 0;
    clear:both;
}

pre {
    clear:both;
}
//img { margin:1em 0; clear:both;}

.main {
    background:$white url('../img/concrete_wall_2.jpg') repeat 0 0;
    @include border-radius(8px);    
    @include background-clip(padding-box);
    -moz-background-clip: padding;
    @include box-shadow(0 6px 16px 5px rgba(0,0,0,.2));
    text-align:center;
//    margin-bottom:150px;
    padding-bottom:70px;
//    overflow:hidden;
}

footer.footer {margin-bottom:100px;}

h1.intro { 
    margin:0 0 0.1em 0;
@include breakpoint(sm){
//    padding: 0 6em; 
}
}

h3.intro {
    @extend h1.intro;
    margin-bottom:1em;
}

p.intro { 
    font-size:2rem; 
@include breakpoint(sm){
//padding-left:10rem; padding-right:10rem; 
}
}

.columns {
//    img { margin:2rem auto; }
//    
//    p { padding:0 0 1em 0;}
//    
    .half, .third, .fourth {
        display:inline-block;
        vertical-align:top;
        &:last-child {
            margin-right:0;
        }
        
        img { width:100%; margin:0; }
    }
//    
    .half {
    @include breakpoint(sm){
//        width:480px;
        width:43%;
        margin-right:3%;
    }        
    }
    
    .third {
    @include breakpoint(sm){
//        width:320px;
        width:26%;
        margin-right:3%;
    }
    }
    
    .fourth {
    @include breakpoint(sm){
//        width:240px;
        width:20%;
        margin-right:3%;
    }
    }
    
    &.gallery {
//        -webkit-column-count: 4;
//         -webkit-column-gap: 3%; /*1.875em;  30px */
//         -webkit-column-fill: auto;
//         -moz-column-count: 4;
//         -moz-column-gap: 3%; /*1.875em;  30px */
//         -moz-column-fill: auto;
//         column-count: 4;
//         column-gap: 3%; /*1.875em;  30px */
//         column-fill: auto;
         
        p {
            font-size:1.4rem;
        }
//        
        .half, .third, .fourth {
            margin-top:1em;
            vertical-align:middle;
//            -webkit-column-break-inside: avoid;
//            -moz-column-break-inside: avoid;
//            column-break-inside: avoid;
        }
    }
}

.full-width {
    width:100%;
    margin:0;
    padding:0;
}

.img-responsive{
    margin:2em auto;
}
.secondary-layout .container.main {}