html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; 
  font: { 
      size:62.5%;
  }
  line-height:1.4rem;
}

body {
    background:$tan url('/img/concrete_wall_3.jpg') repeat 0 0;
    font: {
        family:$base-font;
        size:1.6rem;
        weight:300
    }
    color:$brown;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: $header-font;
font-weight: 500;
line-height: 1.5em;
margin:0.25em 0 0.75em 0;
}

h1, .h1 { font-size:4.2rem; font-style:italic;}
h2, .h2 { font-size:3.2rem; }
h3, .h3 { }
h4, .h4 { }
h5, .h5 { }
h6, .h6 { }

.main {
    &.container{
        img {
            max-width:100%;
        }
    }
}

ul {
    font-size:1.4rem;
    padding:0 1.25em;
    li { margin:0;}
}

p { padding:0 3rem 1em 3rem; }

hr {
    border:0;
    background:transparent url('/img/hr-hand.png') no-repeat center center;
    height:2.8rem;
    padding:2rem 0;
    clear:both;
}

.main {
    background:$white url('/img/concrete_wall_2.jpg') repeat 0 0;
    @include border-radius(8px);    
    @include background-clip(padding-box);
    -moz-background-clip: padding;
    @include box-shadow(0 2px 5px rgba(0,0,0,.34));
    text-align:center;
    margin-bottom:150px;
//    overflow:hidden;
}

p.lead { font-size:2rem; padding-left:6rem; padding-right:6rem; }