html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; 
  font: { 
      size:62.5%;
  }
  line-height:1em;
}

body {
    background:$tan2 url('../img/philly-map.jpg') repeat 40% 25%;
    font: {
        family:$base-font;
        size:1.6rem;
        weight:400;
    }
    line-height:1.5em;
    color:$brown;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: $header-font;
font-weight: 500;
line-height: 1.3em;
margin:0.25em 10% 0.25em 10%;
text-shadow: -2px 3px 1px rgba(202, 192, 164, 0.75);
color:#3a211d;
text-decoration:none; 

a {
    color:$red2;
    text-decoration:none;
    &:hover {
        color:$red2;
        text-decoration:underline;
    }
}

}

h1, .h1 { font-size:4.6rem; font-style:italic; margin-bottom:0.35em;}
h2, .h2 { font-size:3.4rem; font-style:italic; margin-bottom:0.75em;}
h3, .h3 { margin:0.25em 0; font-style:italic;}
h4, .h4 { }
h5, .h5 { color:$gold3; font-size:2rem; }
h6, .h6 { }

a {
    color:$red2;
    text-decoration:none;
    &:hover {
        color:$red2;
        text-decoration:underline;
        img {
            opacity:0.7;
        }
    }
}

.gold { color:$gold3;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   text-decoration:none; 
}

.main {
    &.container{
        img {
            max-width:100%;
        }
    }
}

ul {
    font-size:1.5rem;
    padding:0 1.25em;
    list-style-position:inside;
    list-style:none;
    
    li { 
        margin:1em 0;
    }
}

ul.list {
    list-style:disc;
    text-align:left;
    li { 
        margin:1em 0;
    }
}

p { 
    padding-bottom:1em;
    @include breakpoint(sm){
        padding-left:10%;
        padding-right:10%;
        
        a {
            text-decoration:underline;
            &:hover {
                text-decoration:none;
            }
        }
    }
}

hr {
    border:0;
    background:transparent url('../img/hr-hand.png') no-repeat center center;
    height:2.8rem;
    padding:3rem 0 2rem 0;
    clear:both;
}

pre {
    clear:both;
}

.subnote {
    font-family:$base-font;
    font-size:1.3rem;
}

.caps {
    text-transform:uppercase;
}

.main {
    background:$white url('../img/concrete_wall_2.jpg') repeat 0 0;
    @include border-radius(8px);    
    @include background-clip(padding-box);
    -moz-background-clip: padding;
    @include box-shadow(0 6px 16px 5px rgba(0,0,0,.2));
    text-align:center;
//    margin-bottom:150px;
    padding-bottom:70px;
//    overflow:hidden;
}

.img {
    width:auto;
}

footer.footer {margin-bottom:100px;}

.columns {
//    img { margin:2rem auto; }
//    
//    p { padding:0 0 1em 0;}
//  
    
&.exact {

    .half, .third, .fourth {
        text-align:center;
        vertical-align: middle;
        a{       
            
        }
        img { 
            width: auto;
        }
        h4 {
        }
    }
}

    .half, .third, .fourth {
        display:inline-block;
        vertical-align:top;

        &:last-child {
            margin-right:0;
        }
        
        img { 
            width:100%; 
            margin:0;
            &.img {
                width:auto;
            }
        }
    }
//    
    .half {
    @include breakpoint(sm){
//        width:480px;
        width:43%;
        margin-right:3%;
    }        
    }
    
    .third {
    @include breakpoint(sm){
//        width:320px;
        width:26%;
        margin-right:3%;
    }
    }
    
    .fourth {
    @include breakpoint(sm){
//        width:240px;
        width:20%;
        margin-right:3%;
        &:nth-child(4n){
            margin-right:0;
        }
    }
    }
    
    &.gallery {
         
        p {
            font-size:1.4rem;
        }
//        
        .half, .third, .fourth {
            margin-top:1em;
            vertical-align:top;
//            -webkit-column-break-inside: avoid;
//            -moz-column-break-inside: avoid;
//            column-break-inside: avoid;
        }
    }
}

.full-width {
    width:100%;
    margin:0;
    padding:0;
}

img.full-width {
    margin:3em 0;
}

.img-responsive{
    margin:2em auto;
}
.secondary-layout .container.main {}

.large-type {
    font-size:5.5rem; 
    line-height:0;
    position: relative;
    top: 0.4em;
}

.quote {
    font-family:$header-font;
    font-style:italic;
    font-size:2.4rem;
    line-height:1.5em;
    border: 1px solid #d7d7d7;
    @include border-radius(4px);
    background-color: rgba(0,0,0,.05);
    color:#474748;
    text-shadow:0 1px 0 $white;
    padding:1.6em 2em;
    margin:1.5em 10%;
    overflow:hidden;
    
    h1, h2, h3, h4 {
        margin:0;
        color:#474748;
    }
    
    p {
        padding:0;
        margin:0;
    }
    
    .subnote {
        font-style:normal;
    }
    
    .half {
        width:45%;
    }
}

section.directions {
    @extend .columns;
    
    .half, .third, .fourth {
        text-align:left;
        ul {
            font-size:1.3rem;
            list-style:disc;
        }
    }
}

.seperate {
    margin:3em 0;
    position:relative;
    &:before{
        content:'';
        position:absolute;
        width:60px;
        top:50%;
        left:8%;
        margin-top:-1em;
        border-top:solid 1px rgba($black, 0.3);
;
    }
    &:after{
        content:'';
        position:absolute;
        width:60px;
        top:50%;
        right:8%;
        margin-top:-1em;
        border-top:solid 1px rgba($black, 0.3);
    }
    
}

#services {
    padding:0 8%;
    article {
        clear:both;
        text-align:left;
        img {
            width:100px;
            margin:0.7em 2em;
        }
    }    
}

#familiar {
    .bubble 
    {
        margin:1em auto;
        width:200px;
        position: relative;
        color:$white;
        padding: 1em;
        background: $brown;
        @include border-radius(8px);
    }

    .bubble:after 
    {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 6px 25px 6px 0;
        border-color: transparent $brown;
        display: block;
        width: 0;
        z-index: 1;
        margin-top: -6px;
        left: -25px;
        top: 50%;
    }
}

//#tools {
    .columns {
        &.gallery {margin-top:2em;}
        .gallery-item {
            height:200px;
            width:200px;
            padding:1.2em;
            @include border-radius(6%);
            background:$white;
            overflow:hidden;
            display:table-cell;
            text-align:center;
            vertical-align:middle;
            margin-bottom:1em;
            
            #team &{
                height:150px;
                width:150px;
                display:inline-block;
                padding:0;
                margin:0 0.5em;
                img {
                    
                    max-height:150%;
                    max-width:150%;
                }
            }
            
            #tools &{
                img {
                    @include filter(grayscale(100%) sepia(10%));
                }
                 &:hover img {
                    @include filter(grayscale(0%) sepia(0%));
                }
            }
            img {
                width:100%;
                max-width:200px;
                max-height:200px;
                margin:auto;
                vertical-align:middle;
//                @include filter(grayscale(100%) sepia(10%));
            }
//             &:hover img {
//                @include filter(grayscale(0%) sepia(0%));
//            }
        }
        h4 {
            margin-top:1em;
        }
        
    }
//}

.team {
    display:inline-block;
    margin:0 0.5em 2em 0.5em;
    &.photo{
//        max-width:100px;
//        border: 4px solid #e5decf;
//        @include border-radius(99px);
//        background-clip: padding-box;
//        background-color: #c2b7a5;
//        box-shadow: 0 2px 7px 2px rgba(55,38,6,.4);
    }
}

#the_second {
    ul.list {
        margin:auto 4%;
        list-style-position: outside;

        @include breakpoint(sm){
            margin:auto 20%;
            @include columns(2, 2em);
            @include columnbreakinside(break);
        }

        
        li {
            margin:0 0 1em 2em;
//            text-indent:-1em;
//            margin-left:1em;
        }
    }
}

#social {
    a {
        display:inline-block;
        
        &:nth-child(2) {
            margin:0 7em;
        }
        img {
            margin:0;
        }
    }
}