@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800);
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
  line-height: 1.4rem; }

body {
  background: #cfbea3 url("../img/philly-map.jpg") repeat 40% 25%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #3a211d; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0.25em 0 0.75em 0;
  text-shadow: -2px 3px 1px rgba(202, 192, 164, 0.75); }

h1, .h1 {
  font-size: 4.2rem;
  font-style: italic; }

h2, .h2 {
  font-size: 3.2rem; }

h3, .h3 {
  margin: 0.25em 0; }

.main.container img {
  max-width: 100%; }

ul {
  font-size: 1.5rem;
  padding: 0 1.25em;
  list-style-position: inside;
  list-style: none; }
  ul li {
    margin: 1em 0; }

p {
  padding-bottom: 1em; }
  @media only screen and (min-width: 768px) {
    p {
      padding-left: 3.5em;
      padding-right: 3.5em; } }

hr {
  border: 0;
  background: transparent url("../img/hr-hand.png") no-repeat center center;
  height: 2.8rem;
  padding: 3rem 0 2rem 0;
  clear: both; }

pre {
  clear: both; }

.main {
  background: white url("../img/concrete_wall_2.jpg") repeat 0 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -moz-background-clip: padding;
  -moz-box-shadow: 0 6px 16px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 16px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 16px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 70px; }

footer.footer {
  margin-bottom: 100px; }

h1.intro, h3.intro {
  margin: 0 0 0.1em 0; }

h3.intro {
  margin-bottom: 1em; }

p.intro {
  font-size: 2rem; }

.columns .half, .columns .third, .columns .fourth {
  display: inline-block;
  vertical-align: top; }
  .columns .half:last-child, .columns .third:last-child, .columns .fourth:last-child {
    margin-right: 0; }
  .columns .half img, .columns .third img, .columns .fourth img {
    width: 100%;
    margin: 0; }
@media only screen and (min-width: 768px) {
  .columns .half {
    width: 43%;
    margin-right: 3%; } }
@media only screen and (min-width: 768px) {
  .columns .third {
    width: 26%;
    margin-right: 3%; } }
@media only screen and (min-width: 768px) {
  .columns .fourth {
    width: 20%;
    margin-right: 3%; } }
.columns.gallery p {
  font-size: 1.4rem; }
.columns.gallery .half, .columns.gallery .third, .columns.gallery .fourth {
  margin-top: 1em;
  vertical-align: middle; }

.full-width {
  width: 100%;
  margin: 0;
  padding: 0; }

.img-responsive {
  margin: 2em auto; }

header, footer.footer {
  font-style: italic;
  color: #4b453c;
  padding: 0.6em 0 0.4em 0; }
  header h4, footer.footer h4 {
    font-size: 1.5rem;
    text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.6); }
  header a, footer.footer a {
    color: #4b453c; }
    header a:hover, footer.footer a:hover {
      color: black;
      text-decoration: none; }

footer.footer {
  padding: 0.6em 1em; }

.hero-image {
  background-repeat: no-repeat;
  background-position: 50% 20%;
  -webkit-background-size: 155%;
  -moz-background-size: 155%;
  -o-background-size: 155%;
  background-size: 155%;
  height: 150px;
  display: block;
  position: relative; }
  .hero-image h1, .hero-image h2, .hero-image h3 {
    color: white;
    text-shadow: -2px 4px 2px rgba(0, 0, 0, 0.5);
    margin-top: 2em;
    padding: 0 1em; }
    .hero-image h1.secondary, .hero-image h2.secondary, .hero-image h3.secondary {
      position: absolute;
      bottom: 0;
      width: 100%; }
    @media only screen and (max-width: 1200px) {
      .hero-image h1, .hero-image h2, .hero-image h3 {
        font-size: 1.8em; }
        .hero-image h1.secondary, .hero-image h2.secondary, .hero-image h3.secondary {
          font-size: 1.3em; } }
    @media only screen and (min-width: 768px) {
      .hero-image h1, .hero-image h2, .hero-image h3 {
        margin-top: 0.75em;
        padding: 0 6em; } }
  .secondary-layout .hero-image {
    height: 450px;
    margin-bottom: 2.6rem; }
    @media only screen and (max-width: 768px) {
      .secondary-layout .hero-image {
        -webkit-background-size: 250%;
        -moz-background-size: 250%;
        -o-background-size: 250%;
        background-size: 250%; } }
  @media only screen and (min-width: 768px) {
    .hero-image {
      height: 354px;
      -webkit-background-size: 105%;
      -moz-background-size: 105%;
      -o-background-size: 105%;
      background-size: 105%; }
      .default-layout .hero-image {
        -moz-border-radius: 9px 9px 0 0;
        -webkit-border-radius: 9px 9px 0 0;
        border-radius: 9px 9px 0 0; } }

nav.navbar {
  margin-bottom: 5rem;
  background-color: #4f1515;
  color: white;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #4f1515;
  background-image: -webkit-linear-gradient(bottom, #4f1515 0%, #3b1010 100%);
  background-image: -moz-linear-gradient(bottom, #4f1515 0%, #3b1010 100%);
  background-image: -ms-linear-gradient(bottom, #4f1515 0%, #3b1010 100%);
  background-image: -o-linear-gradient(bottom, #4f1515 0%, #3b1010 100%);
  background-image: linear-gradient(bottom, #4f1515 0%, #3b1010 100%); }
  .secondary-layout nav.navbar {
    margin-bottom: 0; }
  .default-layout nav.navbar.hero-img {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
  @media only screen and (max-width: 768px) {
    nav.navbar {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; } }
  nav.navbar .navbar-toggle, nav.navbar ul.nav li a:hover, nav.navbar ul.nav li a.active {
    color: white;
    background: #2f0c0c;
    -moz-box-shadow: 0 1px 4px rgba(255, 255, 255, 0.14);
    -webkit-box-shadow: 0 1px 4px rgba(255, 255, 255, 0.14);
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.14); }
    nav.navbar .navbar-toggle span.icon-bar, nav.navbar ul.nav li a:hover span.icon-bar, nav.navbar ul.nav li a.active span.icon-bar {
      background: white;
      -moz-box-shadow: 0 1px 4px rgba(58, 33, 29, 0.5);
      -webkit-box-shadow: 0 1px 4px rgba(58, 33, 29, 0.5);
      box-shadow: 0 1px 4px rgba(58, 33, 29, 0.5); }
  nav.navbar .navbar-brand {
    max-width: 121px;
    max-height: 116px;
    position: absolute;
    left: 50%;
    top: -3rem;
    margin-left: -60px;
    overflow: hidden;
    text-indent: -500%;
    padding: 0;
    z-index: 1000; }
    nav.navbar .navbar-brand img {
      margin: auto; }
  nav.navbar .navbar-collapse {
    padding: 1rem 0; }
  nav.navbar ul.nav {
    padding: 0 1em; }
    nav.navbar ul.nav:first-child {
      padding-top: 2em; }
    nav.navbar ul.nav li {
      padding: 0.25em 0; }
      nav.navbar ul.nav li a {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3rem;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0.1rem; }
        nav.navbar ul.nav li a:hover, nav.navbar ul.nav li a.active {
          background: #2b0b0b;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px; }
    @media only screen and (min-width: 768px) {
      nav.navbar ul.nav {
        padding: 0 1em; }
        nav.navbar ul.nav:first-child {
          padding-top: 0; }
        nav.navbar ul.nav.nav-justified {
          width: 45%; }
        nav.navbar ul.nav li {
          padding: 0 0.3em; } }

.btn-primary {
  background-color: #cba133;
  border: 0; }
  .btn-primary:hover {
    background-color: #a28129; }
