<!-- <div class="footer container">
 13 S. Letitia St, Philadelphia, PA 19106 | (267) 825-7311 | <a href="https://www.facebook.com/empirebuildersgroup">Facebook</a> | <a href="http://www.linkedin.com/company/2724237">LinkedIn</a> | <a href="https://twitter.com/EmpireBuilders">Twitter</a>
</div> -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!-- <script src="{{site.baseurl}}/js/stylish.js"></script> -->