<section id="tools">
    <h1 class="">Our Tools</h1>
    <span>Here are some of the types of systems we work in, but not limited to.</span>

    <ul class="columns">
    {% if page.image %}
        <li class="">
            <img src="{{ page.image }}" alt="" title="/img/tools/{{ image }}" class=""><br>
        </li>
    {% elsif page.images %}    
        {% for page.image in page.images %}
        <!-- <li class="media-tag-list">
            <img class="loadingIMG" data-src="{{ image }}" title="{{ image }}" />
        </li> -->
        <li class="fourth">
            <img class="img-responsive" src="{{site.baseurl}}/img/tools/{{ image }}" alt="{{ image }}"> 
            <h4>CRM</h4>
        </li>
        {% endfor %}
    {% endif %}
    </ul>
    
    <!-- <ul class="columns">
        <li class="fourth">
            <img class="img-responsive" src="{{site.baseurl}}/img/tools/jpeg-6.jpg" alt="Jpeg 6"> 
            <h4>CRM</h4>
        </li>
        <li class="fourth"><img class="img-responsive" src="{{site.baseurl}}/img/tools/jpeg-18.jpg" alt="Jpeg 18"> <h4>Financial</h4></li>
        <li class="fourth"><img class="img-responsive" src="{{site.baseurl}}/img/tools/png-9.png" alt="Png 9"> <h4>Marketing Automation</h4></li>
        <li class="fourth"><img class="img-responsive" src="{{site.baseurl}}/img/tools/jpeg-8.jpg" alt="Jpeg 8"> <h4>Practice Management</h4></li>
        <li class="fourth"><img class="img-responsive" src="{{site.baseurl}}/img/tools/png-12.png" alt="Png 12"> <h4>Project Management</h4></li>
        <li class="fourth"><img class="img-responsive" src="{{site.baseurl}}/img/tools/jpeg-12.jpg" alt="Jpeg 12"> <h4>Document Management</h4></li>
        <li class="fourth"><img class="img-responsive" src="{{site.baseurl}}/img/tools/png-14.png" alt="Png 14"> <h4>Business Intelligence</h4></li>
        <li class="fourth"><img class="img-responsive" src="{{site.baseurl}}/img/tools/png-5.png" alt="Png 5"> <h4>ERP</h4></li>
        <li class="fourth"><img class="img-responsive" src="{{site.baseurl}}/img/tools/png-10.png" alt="Png 10"> <h4>Ecommerce</h4></li>
        <li class="fourth"><img class="img-responsive" src="{{site.baseurl}}/img/tools/jpeg-10.jpg" alt="Jpeg 10"> <h4>Content Management</h4></li>
        <li class="fourth"><img class="img-responsive" src="{{site.baseurl}}/img/tools/jpeg-5.jpg" alt="Jpeg 5"> <h4>HRMS</h4></li>
    </ul>     -->     
</section>