/* --------------------------------- Fonts 
---------------------------------------- */

/* ---------- Variables ----------------- */
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800);

$header-font:'Libre Baskerville', serif;
$base-font:'Open Sans', sans-serif;

$secondary-font:$base-font;


/* ---------- Masters ----------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $header-font;
    font-weight: 500;
    line-height: 1.3em;
    margin:0.25em 10% 0.25em 10%;
    text-shadow: -2px 3px 1px rgba(202, 192, 164, 0.75);
    color:#3a211d;
    text-decoration:none; 
}

h1, .h1 { font-size:4.6rem; font-style:italic; margin-bottom:0.35em;}
h2, .h2 { font-size:3.4rem; font-style:italic; margin-bottom:0.75em;}
h3, .h3 { font-size:3rem; margin:0.25em 0; font-style:italic;}
h4, .h4 { font-size:2rem; }
h5, .h5 { font-size:1.6rem; }
h6, .h6 { font-size:1.4rem; }

a {
    color:$red2;
    text-decoration:none;
    &:hover {
        color:$red2;
        text-decoration:underline;
    }
}

p { 
    padding-bottom:1em;
    @include breakpoint(sm){
        padding-left:10%;
        padding-right:10%;
        
        a {
            text-decoration:underline;
            &:hover {
                text-decoration:none;
            }
        }
    }
}

.large-type {
    font-size:5.5rem; 
    line-height:0;
    position: relative;
    top: 0.4em;
}

.base-type {
    font-size:1.8rem;
    line-height:1.6em;
}

.subnote {
    font-family:$base-font;
    font-size:1.3rem;
}

.quote {
//    font-family:$header-font;
//    font-style:italic;
//    font-size:2.3rem;
//    line-height:1.5em;
    border: 1px solid #d7d7d7;
    @include border-radius(4px);
    background-color: rgba(0,0,0,.05);
    color:$gray;
    text-shadow:0 1px 0 $white;
    padding:1.6em 2em;
    margin:1.5em 10%;
    overflow:hidden;
    
//    h1, h2, h3, h4 {
//        margin:0;
//        color:$gray;
//        text-shadow:0 1px 0 $white;
//    }
//    
//    p {
//        padding:0;
//        margin:0 0 1em 0;
//    }
//    
//    .subnote {
//        font-style:normal;
//    }
//    
//    .half {
//        width:45%;
//    }
}